/* Root */
.root-container {
  display: flex;
}

.root-left-pane {
}

.root-right-pane {
  flex-grow: 1;
  background-color: white;
}

/* Nav */
.nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
  padding: 8px;
  width: 300px;
  background-color: #f5f5f5;
}

.nav-button {
  margin: 8px;
  font-size: 24px;
  border: 2px solid black;
  background-color: white;
  padding: 8px;
  box-shadow: black 2px 2px 0px;
  cursor: pointer;

  &:hover {
    box-shadow: black 4px 4px 0px;
  }
}

/* Content */
.page-container {
}

.page-content {
  display: flex;
}

.content-container {
  flex-grow: 1;
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 1px solid #123;
}

.title-text {
  font-family: sans-serif;
  font-size: 36px;
}

.content-container {
  padding: 24px;
}

.device-card-container {
  display: inline-block;
  margin: 4px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
}

.device-card-text {
  font-size: 24px;
  font-family: sans-serif;
}

/* Filter Menu */
select,
::picker(select) {
  appearance: base-select;
}

option::checkmark {
  content: "☑️";
}

.filter-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  border: 1px solid black;
  margin-top: 8px;
  padding: 16px;
  background-color: #f5f5f5;
}

.filter-dropdown-label {
  font-family: sans-serif;
  font-size: 24px;
}

.filter-dropdown {
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 24px;
  width: 100%;
}
