/* Root */
.root-container {
  display: flex;
}

.root-left-pane {
  flex-grow: 1;
  background-color: #f5f5f5;
}

.root-right-pane {
  flex-grow: 15;
  background-color: white;
  margin-left: 8px;
}

/* Nav */
.nav-container {
  display: flex;
  flex-direction: column;
  height: 100vw;
  border: 1px solid black;
  padding: 8px;
}

.nav-button {
  margin: 8px;
  font-size: 24px;
  border: 2px solid black;
  background-color: white;
  padding: 8px;
  box-shadow: black 2px 2px 0px;
  cursor: pointer;

  &:hover {
    box-shadow: black 4px 4px 0px;
  }
}

/* Content */
.title-wrapper {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 1px solid #123;
}

.title-text {
  font-family: sans-serif;
  font-size: 36px;
}
