/* Root */
.root-container {
  display: flex;
}

.root-left-pane {
}

.root-right-pane {
  flex-grow: 1;
  background-color: white;
  margin-left: 8px;
}

/* Nav */
.nav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid black;
  padding: 8px;
  width: 300px;
  background-color: #f5f5f5;
}

.nav-button {
  margin: 8px;
  font-size: 24px;
  border: 2px solid black;
  background-color: white;
  padding: 8px;
  box-shadow: black 2px 2px 0px;
  cursor: pointer;

  &:hover {
    box-shadow: black 4px 4px 0px;
  }
}

/* Content */
.page-container {
  display: flex;
}

.title-container {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border-bottom: 1px solid #123;
}

.title-text {
  font-family: sans-serif;
  font-size: 36px;
}

.content-container {
  padding: 24px;
}

.color-swatch-container {
  display: inline-block;
  margin: 4px;
  border-radius: 8px;
  padding: 8px;
}

.color-swatch-text {
  font-size: 24px;
  font-family: sans-serif;
}

/* Filter Menu */
.filter-menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  border: 1px solid black;
  padding: 8px;
  background-color: #f5f5f5;
}
